<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Timeline Example</title>
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}timeline.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="#">TimeLine Service</a>
					<div class="nav-collapse" id="navMenu">
						<ul class="nav center">
							<li ><a href="timeline.html">Home</a></li>
							<li><a href="profile.html">Profile</a></li>
							<li class="active"><a href="#">Account</a></li>
						</ul>
						<div class="btn-group pull-right">
							<a class="btn" id="adminBtn"> <i class="icon-pencil"></i>Admin <span class="caret"></span> </a>
							<a class="btn" id="logoutBtn"> <i class="icon-user"></i>Logout <span class="caret"></span> </a>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of NavBar!-->
		<div class="container bg"><!-- Start of Container-->
			<div class="row-fluid"><!--Start of Row-->
				<div class="span12">
					<div class='inside'>
						<div class='lightblue'>
							<h1>Account</h1>
							<h4 class='between'>Python/Django</h4>
						</div>
						<h3>Change your personal information<h3>
					</div>
				</div>
			</div><!-- End of Row -->
			<div class="row-fluid"><!--Start of Row-->
				<div class="span12">
					<div class="inside center">
						<h2>ID</h2>
						<div class="write">
							<input type="text" id="username" disabled="true";/>
						</div>
					</div>
				</div>
			</div><!-- End of Row -->
			<div class="row-fluid "><!--Start of Row-->
				<div class="span12">
					<div class="inside">
						<h2>Friend List</h2>
						<ul class="nav nav-tabs nav-stacked" id="listarea">
						</ul>
						<li id="ignoreTemplate" style="display:none;">
								<a>
								<button class="btn btn-mini btn-info right10 ignoreBtn">
									<i id="icon"></i>
								</button>
								<span id="name" name="name"></span>
								<span id="ignored">:ignored</span> </a>
						</li>
					</div>
				</div>
			</div><!-- End of Row -->
			<div class="row-fluid"><!--Start of Row-->
				<div class="span6 accountbox"><!--Start of Span-->
					<div class="inside">
						<h3>Old Password</h3>
						<input type="text" id="oldpassword" style="width: 95%"/>
						<h3>New Password</h3>
						<input type="text" id="newpassword" style="width: 95%"/>
						<div class="center">
							<a class="btn" href="#" id="chkPwBtn">Checking Pass</a>
							<a class="btn between" href="#" id="setPwBtn">Setting Pass</a>
						</div>
					</div>
				</div><!--End of Span-->
				<div class="span6 accountbox"><!--Start of Span-->
					<div class="inside">
						<h2>Name</h2>
						<input type="text" id="getname" style="width: 95%"/>
						<div class="center">
							<a class="btn" href="#" id="getNameBtn">Getting name</a>
							<a class="btn between" href="#" id="setNameBtn">Setting name</a>
						</div>
					</div>
				</div><!--End of Span-->
			</div><!-- End of Row -->
			<div class="row-fluid"><!-- Start of Row -->
				<div class="span12 center">
					<div class="inside">
						<a class="btn btn-large btn-info" href="#" id="refreshBtn">Refresh</a>
					</div>
				</div>
			</div><!-- End of Row -->
		</div><!-- End of Container -->
		<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
		<script src="{{STATIC_URL}}timeline.js"></script>
		<script src="{{STATIC_URL}}base64.js"></script>
		<script>
			$(document).ready(function() {
				getLoginString();
				$("#adminBtn").click(goAdmin);
				$("#logoutBtn").click(doLogout);				
				$("#username").val(username);
				
				$("#chkPwBtn").click(doCheckPassword);
				$("#setPwBtn").click(function(){
					if($("#newpassword").val() != "")
						doSetPassword();
					else
						alert("fill all forms");
				});				
				$("#getNameBtn").click(doGetName);
				$("#setNameBtn").click(doSetName);
								
				doGetUserList();	
				
				$(".ignoreBtn").live("click", doIgnore);				
				$("#refreshBtn").click(doCancel);
			});
		</script>
	</body>
</html>