<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Timeline Example</title>
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}timeline.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu"> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> </a>
					<a class="brand" href="login.html">TimeLine Service</a>
					<div class="nav-collapse" id="navMenu">
						<div class="btn-group pull-right">
							<a class="btn" id="adminBtn">
							<i class="icon-pencil"></i> ADMIN</a>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of NavBar-->
		<div class="container"><!-- Start of Container-->
			<div class="row-fluid"><!--Start of Row-->
				<div class="span12">
					<div class="inside"><br>
						<div class='lightblue'>
							<h1>Create Account</h1>
						</div>
						<div>
							<h3>Join our Service!<h3>
						</div><br>
					</div>
				</div>
			</div><!-- End of Row -->
			<div class="row-fluid"><!--Start of Row-->
				<div class="span6">
					<div class="inside center">
						<h2>ID</h2>
						<input type="text" placeholder="Input your ID" id="username"/>
					</div>
				</div>
				<div class="span6">
					<div class="inside center">
						<h2>PASSWORD</h2>
						<input type="text" placeholder="Input your Password" id="password"/>
					</div>
				</div>
			</div><!-- End of Row -->
			<div class="row-fluid "><!--Start of Row-->
				<div class="span12">
					<div class="inside center">
						<h2>NAME</h2>
						<input type="text" placeholder="Input your Name" id="name"/>
					</div>
				</div>
			</div><!-- End of Row -->
			<div class="row-fluid"><!--Start of Row-->
				<div class="span12">
					<div class="inside center">
						<a class="btn btn-large btn-info" id="joinBtn">Join Now!</a>
					</div>
				</div>
			</div><!-- End of Row -->
		</div><!-- End of Container-->
		<script type="text/javascript" 
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
		</script>
		<script type="text/javascript" 
			src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js">
		</script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
		<script src="{{STATIC_URL}}timeline.js"></script>
		<script src="{{STATIC_URL}}base64.js"></script>
	<script>
		$(document).ready(function() {
			$("#joinBtn").click(function() {
				var name = $("#name").val();
				var username = $("#username").val();
				var password = $("#password").val();
				
				if(name != "" && username != "" && password != "")
					doJoin();
				else
					alert("fill all forms");
			});
			$("#adminBtn").click(goAdmin);
		});

	</script>
</body>
</html>
