<!DOCTYPE html>
<!-- LOGIN -->
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Timeline Example</title>
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}timeline.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu">
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> </a>
					<a class="brand" href="login.html">TimeLine Service</a>
					<div class="nav-collapse" id="navMenu">
						<div class="btn-group pull-right">
							<a class="btn" id="adminBtn"> 
								<i class="icon-pencil"></i> ADMIN</a>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of NavBar!-->
		<div class="container bg logincontainer"><!-- Start of Container-->
			<div class="row-fluid"><!--Start of Row-->
				<div class="span8">
					<div class="inside center loginbox">
						<h1 class="bigfont lightblue middlemsg">Time Line Service</h1>
					</div>
				</div>
				<div class="span4" >
					<div class="inside center loginbox"><br>
						<div class="alert alert-info"><h4>Login Please</h4></div>
						I D : <input type="text"  id="username" class="width50"/><br>
						PW : <input type="password" id="password" class="width50"/>
						<div class="inside">
							<a class="btn btn-primary" id='loginBtn'> Login </a>
							<a class="btn btn-primary between" id='registerBtn'> Register </a>
						</div>
					</div>
				</div>
			</div><!-- End of Row -->
		</div><!-- End of Container-->
		<script type="text/javascript" 
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
		</script>
		<script type="text/javascript" 
			src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js">
		</script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
		<script src="{{STATIC_URL}}timeline.js"></script>
		<script src="{{STATIC_URL}}base64.js"></script>
		<script>
			$(document).ready(function() {
				$("#registerBtn").click(function(){
					location.href = "join.html"
				});
				$("#loginBtn").click(doLogin);
				$("#adminBtn").click(goAdmin);
			});

		</script>
	</body>
</html>
