<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>Timeline Example</title>
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="{{STATIC_URL}}timeline.css" rel="stylesheet">
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target="#navMenu"> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> </a>
					<a class="brand" href="#">TimeLine Service</a>
					<div class="nav-collapse" id="navMenu">
						<ul class="nav center">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="profile.html">Profile</a></li>
							<li><a href="account.html">Account</a></li>
						</ul>
						<div class="btn-group pull-right">
							<a class="btn" id="adminBtn"> 
								<i class="icon-pencil"></i>Admin 
								<span class="caret"></span> 
							</a>
							<a class="btn" id="logoutBtn"> 
								<i class="icon-user"></i>Logout 
								<span class="caret"></span> 
							</a>
						</div>
					</div>
				</div>
			</div>
		</div><!--End of NavBar!-->
		<div class="container bg"><!-- Start of Container -->
			<div class="timeline"><!-- Start of Timeline -->
				<div class="span7 bottom15">	<!-- Start of Span7 -->
					<div class="roundinside bottom15 center">
						<fieldset>
							<label class="lightblue bold leftalign" for="textarea"> 
								Compose New Massage </label>
							<textarea class="input-xlarge span6" id="writearea" 
	                            			name="content" rows="3"></textarea>
							<div>
								<a class="btn btn-primary" id="writeBtn"> 
									Write</a>
								<a class="btn btn-info between" id="reloadBtn">
									Refresh</a>
							</div>
						</fieldset>
					</div>
					<div class="roundinside" id='msgTemplate' style="display:none;">
						<a data-toggle="modal" class="getInfo">
							<div class='name lightblue'></div>
						</a>
						<div class='content'>
							<a class="btn close" name="deleteMsg">X</a>
						</div>
						<span class='date'></span>
						<span class='like'> 
							<a class="btn btn-mini" id="like" name="like" > 
							<i class='icon-chevron-up '></i></a></span>
					</div>
					<div id='timelinearea'>
					</div>
				</div><!-- End of Span7 -->
				<div class="span4 submenu"><!-- Start of Span4 -->
					<div class="roundinside">
						<span>ID : </span><span id="username"></span>
					</div>
					<div class="roundinside">
						<div class="pagination pagination-centered">
							<ul>
								<li>
									<a ><strong id="total"></strong>Total Timeline</a>
								</li>
								<li>
									<a ><strong id="mine"></strong>My Timeline</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="roundinside center bottom15">
						<input type="text" class="search" id="search"/>
						<a class="btn btn-info" id="searchBtn">
							<i class="icon-search"></i></a>
					</div>
				</div><!-- End of Span4 -->
			</div><!-- End of Timeline -->
		</div><!-- End of Container -->
		
		<div class="modal hide fade" id="myModal" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					×
				</button>
				<h2><span id="modalid"></span>'s Info</h2>
			</div>
			<div class="modal-body">
				<h3>Nick : <span id="modalnickname"> </span></h3>
				<h3>Country : <span id="modalcountry"> </span></h3>
				<h3>URL : <span id="modalurl"> </span></h3>
				<h3>Comment : <span id="modalcomment"> </span></h3>
			</div>
		</div>
		
		<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
		<script src="{{STATIC_URL}}timeline.js"></script>
		<script src="{{STATIC_URL}}base64.js"></script>
		<script>
			$(document).ready(function() {
				getLoginString();
				doGetTimeline();
				$("#adminBtn").click(goAdmin);
				$("#writeBtn").click(doWriteTimeline);
				$("#reloadBtn").click(doReload);

				$("[name=deleteMsg]").live("click", doDeleteTimeline);
				$("#searchBtn").click(doSearchTimeline);
				$("#logoutBtn").click(doLogout);

				$("[name=like]").live("click", doLike);
				$(".getInfo").live("click", doGetUserInfo);
			});
		</script>
	</body>
</html>